p{
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.videos-title{
    font-weight: bold;
    font-size: 18px;
    width: 284px;
    line-height: 24px;
    margin-bottom: 5px;
}

.video-stat{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}

.video-author{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}

.video-desc{
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 284px;
    margin-bottom: 100px;
}

.video-shop{
    background-color: rgb(227, 65, 64);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;

}


.span-example{
    text-decoration: underline;
}

.span-example:hover{
    cursor: pointer;
}